@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

 //fonts
$script_font:'Noto Serif Display', serif;

$primary_font:'Poppins', sans-serif;

// font-weight
$light:300;
$regular:400;

